.bottom-left-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.complete-profile {
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 10px 0px 10px;
}
.intro {
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 10px 10px 10px;
}
.photos {
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 10px 10px 10px;
}