.complete-profile{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border-radius: 10px;
    background-color: #fff;
}
.scale {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}