.intro {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.Intro-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
  font-weight: 500;

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}