.shortcut-title,
.web-design,
.Mob-design,
.prod-design{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px 0px 10px 20px;
    font-weight: bold;
}
.shortcut-list {
    font-weight: 600;
    font-size: 14px;
    overflow: auto;
}