.profile-picture {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ebebeb;
  border-radius: 10px;
  padding: 0px 16px 0px 10px;
  margin: 0px 10px 0px 10px;
  gap: 20px;
}
.username {
  background-color: #ebebeb;
}
.profile-pic {
  background-color: #ebebeb;
}
h4 {
  font-weight: bold;
  background-color: #ebebeb;
}
h5 {
  color: grey;
  background-color: #ebebeb;
}
