.pictures {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow: auto;
}
.imageCard {
  width: 20%;
  border-radius: 10px;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;

  img:hover {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: 500ms;
  }

  img{
    width: 100%;
    height: 320px;
  }
}
