.friends-container {
  width: 100%;
  border-right: 2px solid rgb(196, 196, 196);
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .friend-card {
    background-color: #eceff1;
    border: 0.2px solid white;
    border-radius: 10px;
    width: 45%;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;

    .top-card-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 4px;
      width: 97%;

      .photo-name {
        display: flex;
        .name-wrapper {
          display: flex;
          flex-direction: column;
          span:nth-child(1) {
            font-weight: 700;
          }
          span:nth-child(2) {
            font-size: 12px;
          }
        }
      }
    }

    .message-btn {
      width: 97%;
      border-radius: 1rem;
      text-align: center;
      padding: 0.4rem 0;
      background-color: #fff;
    }
    .message-btn:hover {
      color: white;
      background-color: blue;
    }
  }
}
