.Groups {
  padding: 10px;
}
.groupsTop{
  background-color: #fff;
  border-radius: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0 16px;
  border-bottom: 1px solid #f1f5f9;
}
.right {
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    background-color: #2563eb;
    color: #fff;
    border-radius: 9px;
    padding: 10px;
    border: 0;
  }
}
.suggested {
  padding: 10px;
}
.recentActivity {
  padding: 10px;
}
.suggestedHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px 0 16px;
}
.suggestedContent {
  padding: 10px;
}
.groupsBottom {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}
.pictures {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
  img {
    width: 45%;
  }
}
.header2s {
  display: flex;
  gap: 10px;
  padding: 10px;
  flex-direction: row;
  align-items: center;
}