.bottoms {
  display: flex;
  flex-direction: row;
  /* gap: 10px; */
  justify-content: space-between;
}

.bottomleft {
  width: 32%;
  /* padding: 10px; */
  /* border-radius: 10px; */
  /* background-color: #fff; */
}
.bottomright {
  width: 62%;
  /* padding: 10px; */
  /* border-radius: 10px; */
  /* background-color: #fff; */
}

.test {
  background-color: #44ff00;
  border-radius: 9px;
}
.below-image {
  display: flex;
}
.pro {
  flex: 0.4;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 45px;
}
.navs {
  display: flex;
  flex: 0.8;
  gap: 30px;
}
.dim-header {
  font-size: 20px;
  color: rgb(165, 165, 165);
}
