.shortcut-title,
.web-design,
.Mob-design,
.prod-design{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 0px 0px 0px 20px;
    margin: 10px 0px 10px 0px;
    font-weight: bold;
}