.sidemenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  font-size: 12px;
  padding: 20px;
  
  .heading {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    p {
      color: #94a3b8;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  
  .menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #64748b;
    background-color: #ffffff;
    margin: 10px 0 10px 0;

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
    }
  }
}
