.StatusTop {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
}
.status {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
}
.statusprofile {
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: space-between;
  gap: 10px;
//   background-color: #ff0000;
  width: 20%;
  .user {
  display: flex;
  flex-direction: column;
  }
}
.userState {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
}
.typing {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1%;
  background-color: #f8fafc;
  border-radius: 9px;
  padding: 10px;

  input {
    background-color: #f8fafc;
    border: 0px;
  }
}
.interaction {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10% 0px 10%;
}
.Left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
