.Top {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
}

.bigimg {
  width: 100%;
}

.blueimage {
  width: 100%;
  
}
.blueimage-top{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.belowbigimg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #F8FAFC;
  
  border-radius: 10px;
  width: 70%;
  padding: 1%;
  > .h1 {font-size: 1px;}
}
.blow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 50px 0px 50px;
  padding: 1%;
}

.btn-edit{
  margin: 20px 0 0 0;
  width: 98%;
  display: flex;
  justify-content: end;
    z-index: 1000;
    position: absolute;
}
.avatar-container{
  display: flex;
  justify-content: start;
  z-index: 1000;
  margin-top: -90px;
  position: relative;
}

.floatBtn{
  background-color: #ffffff;
  padding: 10px;

}
.avatar {
  margin-left: 60px;
  width: 100px;
}

.bordered {
  border-left: 10px solid rgb(0, 0, 0);
  height: 100%;
}
