.timeline-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  
  .Addupdate {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
  }

  .your-timeline-card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;

    .header {
      display: flex;
      justify-content: flex-start;

      span {
        font-size: 22px;
        font-weight: 700;
        line-height: 27.5px;
      }
    }
  }

  .create-post-card {
    width: auto;
    // background-color: rgb(255, 0, 0);
    // padding: 10px;
    border-radius: 10px;
  }
}
