.leftContent {
  width: 100%;
  right: 0;
  float: right;
  bottom: 0;
  /* display: grid; */
  background-color: #ffffff;
}
.border{
  border: 1px solid grey;
}
.shortcutHeading,.contactsHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 10px 20px;
}
.sidebar-shortCuts,
.SideProfile,
.sidenav-menu {
  padding: 10px;
}
.sidebar-shortCuts,.sidenav-menu {
  background-color: #fff;
}
.sidenav-menu {
  overflow: auto;
  /* background-color: #ff0000; */
}

.SideProfile {
  background-color: #ff0303;
  max-height: 20vh;
}
.contactsList {
  overflow: auto;
  height: 10vh;
  background-color: #ffffff;
}