* {
  overflow: hidden;
  ::-webkit-scrollbar {
    display: none;
  }
}

.HomePage {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 16%;
}

.rightcontainer {
  width: 84%;
}

@media (max-width: 400px) {
  .HomePage{}
  .sidebar {
    width: -150vw;
  }
  .rightcontainer {
    width: 100%;
  }
}