body {
  margin: 0;
  padding: 0;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F1F5F9;
  padding: 10px;
  background-color: #ffffff;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  border-radius: 9px;
  padding: 5px;
  width: 30vw;
  height: fit-content;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: right;
  padding: 10px 20px 10px 0px;
  gap: 20px;
}

input {
  width: 100%;
  height: 100%;
}

.mobile-nav {
  display: none;
}

@media (max-width: 400px) {
  .nav-container {
    display: flex;
    align-items: center;
  }
  .search {
    display: none;
  }
  .nav-right {
    display: none;
  }
  .mobile-nav {
    display: contents;
  }
}