.Rightcontainer {
  display: flex;
  flex-direction: column;
}
.navbar {
  background-color: #fff;
  height: 13vh;
}
.right-bottom {
  background-color: #F8FAFC;
}

@media (max-width:400px) {
.Rightcontainer{
  width: 100vw;
}
}