.events {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #ff0000;

    .FindEvents{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #F1F5F9;
        background-color: #fff;

        p{
            font-weight: 700;
            font-size: 22px;
            color: #0F172A;
        }
    }

    .eventsTop{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #fff;

        .eventsNav{
            display: flex;
            width: 60%;
            align-items: center;
            justify-content: space-around;
            font-size: 16px;
            color: #64748B;
            font-weight: 500;
            padding: 10px;
            
            p:hover {
                color: #2563EB;
                font-weight: 700;
                padding: 10px;
                border-bottom: 3px solid #2563EB;
                transition: 100ms;
            }
        }

        .Calender {
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid black;
            border-radius: 10px;
            padding: 10px;
            font-size: 12px;
            font-weight: 600;
        }
    }

    .fetchedEvents {
        background-color: #fff;
    }
}