.center-body {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.center-top {
  width: 100%;
}
.center-bottom {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
