.side-below {
  display: grid;
  grid-column: auto;
}

.sides {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  padding-top: 10px;
}
.smenu {
  height: 100%;
}
.sprofile {
  height: 100%;
}
.logo {
  background-color: #fff;
  height: 13vh;
}

.shortcuts {
  height: 100%;
}
