.sides {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  height: 100%;
}
.logo {
  /* height: 88px; */
  background-color: #fff;
}
.sprofile {
  /* margin-top: 20px; */
}
/* .sprofile,
.smenu,
.shortcuts {
  background-color: #ff0000;
} */
